<h1><%= listing.isNew() ? 'New Listing' : 'Edit Listing' %></h1>

<label for='title'>Title</label><br>

<input type='text' name='title' id='title'
        value='<%= listing.escape('title') %>'><br>

<label for='description'>Descrption</label><br>

<textarea name='description' id='description'>
  <%= listing.escape('description') %>
</textarea><br>

<div class="btn-group">
  <button class="btn btn-primary btn-sm">Submit</button>
  <a class="btn btn-info btn-sm" href='#/'>Back</a>
</div>
