<h1><%= listing.isNew() ? 'New Listing' : 'Edit Listing' %></h1>

<label for='title'>Title</label><br>

<input type='text' name='title' id='title'
        value='<%= listing.escape('title') %>'><br>

<label for='description'>Descrption</label><br>

<textarea name='description' id='description'>
  <%= listing.escape('description') %>
</textarea><br>

<button class="btn btn-primary btn-sm">Submit</button>

<button class="btn btn-primary btn-sm">Back</button>
