<div >
  <h2 class="listings-index-title">Listing Show View</h2>
</div>

<div class="listings">
  <h3 class="show"><%= listing.escape('title') %></h3>
  <p class="show"><%= listing.escape('description') %></p>
  <p class="show"><%= listing.escape('address') %></p>
  <div>
    <img class="image-show" src="<%= listing.get("image") %>"/><br>
  </div>
  <h2><a class="btn btn-info show" href='#/'>Back</a></h2>
</div>
