<div class="listings-index-title">
  <h2>Listing Show View</h2>
</div>

<div class="listings show">
  <h3><%= listing.escape('title') %></h3>

  <p><%= listing.escape('description') %></p>
  <p><%= listing.escape('address') %></p>

  <a href='#/'>Index</a>
</div>
