<h1>Sign In</h1>

<%= flash[:errors].first unless flash[:errors].nil? %>
<br>

<form action="/session" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Username<br>
    <input type= "text" name="user[username]" value="<%= @credentials[:username] %>">
  </label><br>
  <label>Password<br>
    <input type= "password" name="user[password]">
  </label><br>
  <input type="submit" value="Submit"><br>
</form>
