<div class="row">
  <div class="col-xs-4 col-xs-offset-1">
    <h1>Sign Up</h1><br>
    <h5><%= @user.errors.full_messages.first unless @user.errors.full_messages == [] %></h5><br>
    <%= render "form" %>
  </div>
</div>
