<div id="front-page"></div>
<%= include_gon %>

<script type="text/javascript">
  var trigger = gon.trigger || false;
  debugger
  if (trigger) {
    $(window).load(function() {
      $('#signupModal').modal('show');
    });
  }
</script>

<div class="modal fade" id="signupModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
        <h4 class="modal-title">Sign Up</h4>
      </div>
      <div class="modal-body">
        <% unless @user.errors.full_messages == [] %>
        <div class="alert alert-danger">
          <p><%= @user.errors.full_messages.first %></p>
        </div>
        <% end %>
        <%= render partial: "form", locals: { signup: true } %>
      </div>
    </div>
  </div>
</div>
