<h1>Sign Up</h1>

<form action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Username<br>
    <input type= "text" name="user[username]">
  </label><br>
  <label>Email<br>
    <input type= "text" name="user[email]">
  </label><br>
  <label>Password<br>
    <input type= "password" name="user[password]">
  </label><br>
  <input type="button" value="Submit"><br>
</form>
