<div class="row">
  <div class="col-xs-4 col-xs-offset-1">
    <h1>Sign Up</h1><br>
    <h5><%= @user.errors.full_messages.first unless @user.errors.full_messages == [] %></h5><br>
    <form action="/users" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <div class="form-group">
        <label>Username</label><br>
        <input class="form-control" type= "text" name="user[username]" value="<%= @user.username %>">
      </div>
      <div class="form-group">
        <label>Email</label><br>
        <input class="form-control" type= "text" name="user[email]" value="<%= @user.email %>">
      </div>
      <div class="form-group">
        <label>Password</label><br>
        <input class="form-control" type= "password" name="user[password]">
      </div>
      <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Submit"><br>
      </div>
    </form>
  </div>
</div>
