/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "bootstrap-datetimepicker";

#logo {
  height: 30px;
  position: fixed;
  top: 14px;
}

#user-status {
  padding: 0 15px;
}

.navbar {
  padding: 5px;
  margin-bottom: 50px;
  background: rgba(255, 255, 255, 0.5);
  border: none;
}

.sign-ins {
  padding: 10px 20px 10px 20px;
}

.sign-ins li {
  margin-right: 10px;
}

.sign-ins li:last-child {
  margin-right: 0;
}

#signupbtn {
  top: -15px;
  right: -15px;
}

body {
  padding-top: 50px;
}

#map-canvas {
  position: absolute;
  border: solid 1px darkgrey;
  right: 0;
  top: 60px;
  bottom: 0;
  width: 45%;
  padding: 20%;
}

#map-canvas:empty {
  border: none;
}

#new-listing {
  position: fixed;
  border: solid 1px darkgrey;
  left: 0;
  top: 45px;
  bottom: 0;
  width: 55%;
  overflow: auto;
  padding: 20px 40px 40px 40px;
  border: none;
}

.listings-index-title {
  position: fixed;
  left: 0;
  top: 20px;
  width: 55%;
  padding-left: 60px;
  padding-top: 17px;
  padding-bottom: 20px;
  background-color: aliceblue;
  border: 1px lightblue;
}

.listings {
  position: fixed;
  left: 0;
  right: 0;
  margin-top: 70px;
  top: 60px;
  bottom: 0;
  width: 55%;
  overflow: auto;
  padding-left: 0;
}

.listings2 {
  position: fixed;
  left: 0;
  right: 0;
  top: 60px;
  bottom: 0;
  width: 55%;
  overflow: auto;
  padding-left: 0;
}

.show {
  margin-left: 50px;
  margin-right: 50px;
}

.image-show {
  width: 100%;
  height: auto;
  margin-bottom: -30px;
  transition: all 1s ease;
  -webkit-filter: brightness(80%);
}

.image-show:hover {
  -webkit-filter: brightness(100%);
}

#front-page {
  position: fixed;
  left: 0;
  right: 0;
  top:0;
  bottom:0;
  background-image: url(https://www.filepicker.io/api/file/d8KascXSxMuFfaWsL4gg);
  background-size: cover;
  background-position: 50% 50%;
  -webkit-filter: grayscale(100%);
  transition: all 3s ease;
}

// #front-page:hover {
//   -webkit-filter: grayscale(0%);
// }

#new_listing_btn {
  position: relative;
  left: 200px;
}

.btn.btn-info.show {
  position: absolute;
  width: 80%;
  margin: 40px 40px 40px 50px;
}

.dl-horizontal {
  margin-right: 65px;
}
