/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

#logo {
  zoom: 50%;
}

#user-status {
  padding: 0 15px;
}

.navbar-nav {
  padding-top: 5px;
}

#sign-ins {
  padding: 10px 20px 10px 20px;
}

#sign-ins * {
  margin: 2px;
}

body {
  padding-top: 50px;
}

#map-canvas {
  position: absolute;
  border: solid 1px darkgrey;
  right: 0;
  top: 56px;
  bottom: 0;
  width: 50%;
  padding: 20%;
}

#map-canvas:empty {
  border: none;
}

#new-listing {
  position: fixed;
  border: solid 1px darkgrey;
  left: 0;
  top: 55px;
  bottom: 0;
  width: 50%;
  overflow: auto;
  padding: 40px;
}

.listings-index-title {
  position: relative;
  left: 0;
  top: 0px;
  padding-left: 40px;
  padding-bottom: 50px;
}

.listings {
  position: fixed;
  left: 0;
  right: 0;
  top: 120px;
  bottom: 0;
  width: 50%;
  overflow: auto;
  padding-left: 0;
}

.show {
  margin-left: 50px;
  margin-right: 50px;
}

.image-show {
  width: 100%;
  height: auto;
}
